.challenge-body
  .keys
    .key{ data: { key: '65' }}
      %kbd A
      .sound clap
    .key{ data: { key: '83' }}
      %kbd S
      .sound hihat
    .key{ data: { key: '68' }}
      %kbd D
      .sound kick
    .key{ data: { key: '70' }}
      %kbd F
      .sound openhat
    .key{ data: { key: '71' }}
      %kbd G
      .sound boom
    .key{ data: { key: '72' }}
      %kbd H
      .sound ride
    .key{ data: { key: '74' }}
      %kbd J
      .sound snare
    .key{ data: { key: '75' }}
      %kbd K
      .sound tom
    .key{ data: { key: '76' }}
      %kbd L
      .sound tink
  
  = audio_tag "clap.wav", { data: { key: "65" }}
  = audio_tag "hihat.wav", { data: { key: "83" }}
  = audio_tag "kick.wav", { data: { key: "68" }}
  = audio_tag "openhat.wav", { data: { key: "70" }}
  = audio_tag "boom.wav", { data: { key: "71" }}
  = audio_tag "ride.wav", { data: { key: "72" }}
  = audio_tag "snare.wav", { data: { key: "74" }}
  = audio_tag "tom.wav", { data: { key: "75" }}
  = audio_tag "tink.wav", { data: { key: "76" }}

