- inventors = [{ first: "Albert", last: "Einstein", year: 1879, passed: 1955 }, { first: "Isaac", last: "Newton", year: 1643, passed: 1727 }, { first: "Galileo", last: "Galilei", year: 1564, passed: 1642 }, { first: "Marie", last: "Curie", year: 1867, passed: 1934 }, { first: "Johannes", last: "Kepler", year: 1571, passed: 1630 }, { first: "Nicolaus", last: "Copernicus", year: 1473, passed: 1543 }, { first: "Max", last: "Planck", year: 1858, passed: 1947 }, { first: "Katherine", last: "Blodgett", year: 1898, passed: 1979 }, { first: "Ada", last: "Lovelace", year: 1815, passed: 1852 }, { first: "Sarah E.", last: "Goode", year: 1855, passed: 1905 }, { first: "Lise", last: "Meitner", year: 1878, passed: 1968 }, { first: "Hanna", last: "Hammarström", year: 1829, passed: 1909 }]

- people = [ "Bernhard, Sandra", "Bethea, Erin", "Becker, Carl", "Bentsen, Lloyd", "Beckett, Samuel", "Blake, William", "Berger, Ric", "Beddoes, Mick", "Beethoven, Ludwig", "Belloc, Hilaire", "Begin, Menachem", "Bellow, Saul", "Benchley, Robert", "Blair, Robert", "Benenson, Peter", "Benjamin, Walter", "Berlin, Irving", "Benn, Tony", "Benson, Leana", "Bent, Silas", "Berle, Milton", "Berry, Halle", "Biko, Steve", "Beck, Glenn", "Bergman, Ingmar", "Black, Elk", "Berio, Luciano", "Berne, Eric", "Berra, Yogi", "Berry, Wendell", "Bevan, Aneurin", "Ben-Gurion, David", "Bevel, Ken", "Biden, Joseph", "Bennington, Chester", "Bierce, Ambrose", "Billings, Josh", "Birrell, Augustine", "Blair, Tony", "Beecher, Henry", "Biondo, Frank" ]

- items = [ "car", "car", "truck", "truck", "bike", "walk", "car", "van", "bike", "walk", "car", "van", "car", "truck" ];

.challenge-body
    #inventors-table{ data: { inventors: inventors.to_json }}
        .flex.justify-between.px-2
            %h3.text-m.text-gray-darkest.p-6 Table of inventors
            .flex.justify-between
                - ['reset', 'born in the 1500s', 'full names', 'birthdates', 'total years', 'ages'].each do |label|
                    %button{ type: "button", class: "btn-inventors inline-flex items-center px-2.5 py-1 my-5 mx-1 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none", data: { group: 'inventors', action: label.split.first} }= label
        .flex.flex-col
            .-my-2.overflow-x-auto.sm:-mx-6.lg:-mx-8 
                .py-2.align-middle.inline-bloc.min-w-full.sm:px-6.lg:px-8
                    .shadow.overflow-hidden.border-b.border-gray-200.sm:rounded-lg
                        %table.min-w-full.divide-y.divide-gray-200
                            %thead.bg-gray-50
                                %tr
                                    - ['#', 'First name', 'Last name', 'Born', 'Died'].each do |col_title|
                                        %th{ class: "px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase hover:underline tracking-wider", scope: 'col' }= col_title
                            %tbody
                                - inventors.each_with_index do |inventor, i|
                                    %tr{ class: i.even? ? "bg-white" : "bg-gray-50", id: "inventor-#{i+1}" }
                                        - row_options = { class: "px-6 py-4 whitespace-nowrap font-medium text-xs text-left text-gray-700" }
                                        %th{ row_options }= i + 1
                                        - [:first, :last, :year, :passed].each do |key|
                                            %th{ row_options }= inventor[key]

    #people-list{ data: { people: people.to_json }}
        .flex.justify-between.px-2
            %h3.text-m.text-gray-darkest.p-6 List of people
            .flex.justify-between
                - ['reset', 'alphabetical'].each do |label|
                    %button{ type: "button", class: "btn-people inline-flex items-center px-2.5 py-1 my-5 mx-1 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none", data: { group: 'people', action: label.split.first} }= label
        .p-3
            - people.each do |person|
                .text-sm.text-gray-500= person

    #items-list{ data: { items: items.to_json }}
        .flex.justify-between.px-2
            %h3.text-m.text-gray-darkest.p-6 List of items
            .flex.justify-between
                - ['reset', 'add item'].each do |label|
                    %button{ type: "button", class: "btn-items inline-flex items-center px-2.5 py-1 my-5 mx-1 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none", data: { group: 'items', action: label.split.first} }= label
        .p-3
            - items.each do |item|
                .text-sm.text-gray-500= item